.pricing {
  display: flex;
  gap: 5rem;
  padding-top: 6rem;
}

.sec-pric h2{
  color: var(--Dark-Blue);
  font-size: 50px;
  padding-top: 4rem;
}

.sec-pric p {
  color: var(--Dark-Grayish-Blue);
  padding: 20px 0;
  line-height: 1.5;
  font-size: 14px;
}

.pricing img {
  width: 500px;
}

@media (max-width:668px) {
  .pricing{
    padding-top: 3rem;
    flex-direction: column-reverse;
    gap: 1rem;
    text-align: center;
  }
  .sec-pric h2{
    padding-top: 1rem 3rem 0 3rem;
  }
  .sec-pric p{
    padding: 20px 60px;
  }
}